.breadcrumb-content {
    padding: 22px 0;
}

.breadcrumb-content ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 3px;
    padding-right: 13px;
    position: relative;
}

.breadcrumb-content ul li:last-child {
    margin-right: 0;
}

.breadcrumb-content ul li:not(:last-child)::before {
    position: absolute;
    content: "/";
    right: 0;
    top: 50%;
    transform: translatey(-50%);
}

.breadcrumb-content ul li a {
    color: #999;
}


/*
    PRODUCT CSS
*/

.zoom-image {
    border: 1px solid #f0f0f0;
}

.product-detail h1 {
    text-transform: capitalize;
    line-height: 20px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 22px;
}

.product-detail .product-desc {
    border-bottom: 1px solid #f0f0f0;
}

.product-detail .product-desc p {
    font-size: 14px;
    line-height: 26px;
}

.product-detail .price-box span {
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
}

.product-detail .price-box .old {
    font-size: 100%;
    font-weight: 400;
    text-decoration: line-through;
}

.product-variant.quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.product-variant.color label,
.product-variant.quantity label {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 0;
}

.product-variant.quantity input {
    border: 1px solid #ebebeb;
    background: none;
    height: 42px;
    padding: 0 12px;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 15px;
}

.product-variant.color select {
    border: 1px solid #ebebeb;
    background: none;
    height: 42px;
    padding: 0 12px;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 15px;
}

.product-variant.quantity button {
    border: 0;
    font-size: 16px;
    margin-left: 20px;
    background: #ffd54c;
    height: 42px;
    text-transform: capitalize;
    width: 100%;
}

.product-action ul li a {
    font-size: 14px;
    line-height: 28px;
}

.product-info .col-12 {
    background-color: #fff;
}

.product-content p {
    line-height: 28px;
}

.product-info {
    background: #f6f6f6;
}

.nav-tabs {
    border-bottom: none;
    padding-bottom: 15px;
}

.nav-tabs .nav-item {
    margin-bottom: unset;
}

.nav-tabs .nav-link {
    color: #a9a9a9;
    border: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    position: relative;
}

.product-info .nav-item .nav-link {
    display: block;
    float: left;
    text-transform: capitalize;
    font-size: 20px;
    color: #a9a9a9;
    font-weight: 600;
    line-height: 26px;
    position: relative;
    padding-bottom: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #333333;
}

.product-info .nav-item .nav-link::before {
    content: "";
    width: 0;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    bottom: 0;
    height: 2px;
    background: #ffd54c;
    position: absolute;
}

.product-info .nav-item .nav-link.active::before {
    width: 100%;
}




.product-review h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.product-review-form textarea {
    border: 1px solid #ddd;
    background: none;
    height: 120px;
    resize: none;
    width: 100%;
    padding: 10px;
}

.product-review-form input {
    border: 1px solid #ddd;
    background: none;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.product-review-form button {
    border: none;
    background: #3E444A;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 15px;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.product-review-form button:hover {
    background: #ffd54c;
    color: #ffffff;
}

/*
    CUSTOM CSS
*/