/*
    CUSTOM CSS
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Open Sans", sans-serif;
}

img,
video {
    max-width: 100%;
}

a,
button,
img,
input,
span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a,
button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: initial;
}

*:focus {
    outline: none;
}

input:focus,
button:focus {
    outline: none;
}

body.block {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #000;
    opacity: 0.8;
    z-index: 990;
}

.form-control:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-toggle::after {
    content: "\f107";
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    vertical-align: middle;
    border: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: none;
}

@media only screen and (max-width: 767px) {
    .fixed-top {
        position: relative;
    }
}


/*
    HEADER STYLE
*/


/* header-middle */

.header-middle {
    background: #ffd54c;
}

@media only screen and (max-width: 767px) {
    .header-logo a img {
        max-width: 135px;
    }
}

.header-search {
    text-align: center;
}

.header-search form {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding: 3px;
    border-radius: 50px;
    width: 100%;
    display: inline-block;
}

.search-box input {
    border: 0;
    color: #444444;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 16px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.search-box button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #ffd54c;
    border: 0;
    text-align: center;
    width: 60px;
    height: 100%;
    color: #fff;
    font-weight: 500;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.search-box button:hover {
    background: #333;
    color: #ffd54c;
}

.header-shop i {
    vertical-align: middle;
    font-size: 32px;
}

@media (max-width: 768px) {
    .header-shop i {
        font-size: 22px;
    }
}


/* header-bottom */

.header-bottom {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
}

.dropdown-menu li:hover a,
.nav-link.active,
.navbar-nav>li:hover>a {
    color: #ffd54c;
}

.nav-link {
    display: block;
    padding: 14px 20px 14px 20px!important;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 14px;
    }
}

.dropdown-menu {
    display: block;
    position: absolute;
    min-width: 200px;
    padding: 25px 20px;
    background: #fff;
    -webkit-box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 99;
    top: 100%;
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
}

.dropdown-item {
    padding: 0;
}

.dropdown-item a {
    font-weight: 500;
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 14px;
}

@media (max-width: 767.98px) {
    .dropdown .dropdown-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: perspective(600px) rotateX(0deg);
        transform: perspective(600px) rotateX(0deg);
    }
    .navbar-collapse {
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        width: 80%;
        /* padding-right: 1rem;
        padding-left: 1rem; */
        background-color: #bebebe;
        overflow: scroll;
        transition: -webkit-transform .3s ease-in-out;
        transition: all .3s ease-in-out;
        transition: all .3s ease-in-out, -webkit-transform .3s ease-in-out;
        z-index: 999;
    }
    .navbar-collapse:not(.show) {
        display: block;
    }
    .navbar-collapse.show {
        left: 0;
    }
}


/*
    MAIN STYLE
*/


/* main-shipping */

.main-shipping .row {
    border: 1px solid #f0f0f0;
    padding: 15px 5px;
    border-radius: 4px;
}

.shipping-item {
    padding: 20px 0;
    border-left: 1px solid #f0f0f0;
}

.shipping-item:first-child {
    border: 0;
}

@media (max-width: 992px) {
    .shipping-item {
        border: 0;
        margin-bottom: 12px;
    }
}

.shipping-icon {
    margin-right: 10px;
}

.shipping-content h2 {
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 4px;
    font-family: "Open Sans", sans-serif;
}

.shipping-content p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
}

.main {
    height: 1500px;
}

/*--.main-slider */
.sp-buttons {
    position: absolute;
    bottom: 3%;
}

.sp-button {
    border-color: #fff;
    width: 15px;
    height: 15px;
}