/*
    CUSTOM CSS
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Open Sans", sans-serif;
}

img,
video {
    max-width: 100%;
}

a,
button,
img,
input,
span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a,
button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: initial;
}

*:focus {
    outline: none;
}

input:focus,
button:focus {
    outline: none;
}

body.block {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #000;
    opacity: 0.8;
    z-index: 990;
}

.form-control:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-toggle::after {
    content: "\f107";
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    vertical-align: middle;
    border: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: none;
}

@media only screen and (max-width: 767px) {
    .fixed-top {
        position: relative;
    }
}


/*
    HEADER STYLE
*/


/* header-middle */

.header-middle {
    background: #ffd54c;
}

@media only screen and (max-width: 767px) {
    .header-logo a img {
        max-width: 135px;
    }
}

.header-search {
    text-align: center;
}

.header-search form {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding: 3px;
    border-radius: 50px;
    width: 100%;
    display: inline-block;
}

.search-box input {
    border: 0;
    color: #444444;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 16px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.search-box button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #ffd54c;
    border: 0;
    text-align: center;
    width: 60px;
    height: 100%;
    color: #fff;
    font-weight: 500;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.search-box button:hover {
    background: #333;
    color: #ffd54c;
}

.header-shop i {
    vertical-align: middle;
    font-size: 32px;
}

@media (max-width: 768px) {
    .header-shop i {
        font-size: 22px;
    }
}


/* header-bottom */

.header-bottom {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
}

.dropdown-menu li:hover a,
.nav-link.active,
.navbar-nav>li:hover>a {
    color: #ffd54c;
}

.nav-link {
    display: block;
    padding: 14px 20px 14px 20px!important;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 14px;
    }
}

.dropdown-menu {
    display: block;
    position: absolute;
    min-width: 200px;
    padding: 25px 20px;
    background: #fff;
    -webkit-box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 99;
    top: 100%;
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
}

.dropdown-item {
    padding: 0;
}

.dropdown-item a {
    font-weight: 500;
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 14px;
}

@media (max-width: 767.98px) {
    .dropdown .dropdown-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: perspective(600px) rotateX(0deg);
        transform: perspective(600px) rotateX(0deg);
    }
    .navbar-collapse {
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        width: 80%;
        /* padding-right: 1rem;
        padding-left: 1rem; */
        background-color: #bebebe;
        overflow: scroll;
        transition: -webkit-transform .3s ease-in-out;
        transition: all .3s ease-in-out;
        transition: all .3s ease-in-out, -webkit-transform .3s ease-in-out;
        z-index: 999;
    }
    .navbar-collapse:not(.show) {
        display: block;
    }
    .navbar-collapse.show {
        left: 0;
    }
}


/*
    MAIN STYLE
*/


/* main-shipping */

.main-shipping .row {
    border: 1px solid #f0f0f0;
    padding: 15px 5px;
    border-radius: 4px;
}

.shipping-item {
    padding: 20px 0;
    border-left: 1px solid #f0f0f0;
}

.shipping-item:first-child {
    border: 0;
}

@media (max-width: 992px) {
    .shipping-item {
        border: 0;
        margin-bottom: 12px;
    }
}

.shipping-icon {
    margin-right: 10px;
}

.shipping-content h2 {
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 4px;
    font-family: "Open Sans", sans-serif;
}

.shipping-content p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
}

.main {
    height: 1500px;
}


/*--.main-slider */


/*---------------------------------------
    04. Hero
-----------------------------------------*/


/*--
    04.1 Hero Slider One
-----------------------------------------*/


/*-- Hero Slider --*/

.hero-slider-one {
    /*-- Arrow --*/
    /*-- Dots --*/
}

.hero-slider-one .slick-arrow {
    display: none !important;
    width: 44px;
    height: 44px;
    border: 1px solid #959595;
    color: #202020;
    border-radius: 50px;
    background-color: transparent;
    position: absolute;
    padding: 0;
    top: 50%;
    margin-top: -22px;
    z-index: 9;
    opacity: 0;
}

.hero-slider-one .slick-arrow i {
    font-size: 28px;
    line-height: 42px;
    display: block;
}

.hero-slider-one .slick-arrow.slick-prev {
    left: 30px;
}

.hero-slider-one .slick-arrow.slick-next {
    right: 30px;
}

.hero-slider-one .slick-arrow:hover {
    border-color: #202020;
}

.hero-slider-one .slick-dots {
    position: absolute;
    left: 100px;
    bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-slider-one .slick-dots {
        left: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-slider-one .slick-dots {
        left: 50px;
        bottom: 30px;
    }
}

@media only screen and (max-width: 479px) {
    .hero-slider-one .slick-dots {
        left: 40px;
    }
}

.hero-slider-one .slick-dots li {
    float: left;
    margin-right: 5px;
    display: inline-block;
}

.hero-slider-one .slick-dots li button {
    border: 1px solid #959595;
    background-color: transparent;
    text-indent: -99999px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    display: block;
    padding: 0;
}

.hero-slider-one .slick-dots li button:hover {
    border-color: #202020;
}

.hero-slider-one .slick-dots li.slick-active button {
    border-color: #202020;
}

.hero-slider-one:hover .slick-arrow {
    opacity: 1;
}


/*-- Hero Item --*/

.hero-item {
    padding: 85px 150px 60px 100px;
    background-color: #fefcef;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-item {
        padding: 85px 100px 60px 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-item {
        padding: 50px 50px 40px 50px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-item {
        padding: 70px 50px;
    }
}

@media only screen and (max-width: 479px) {
    .hero-item {
        padding: 50px 40px;
    }
}

.hero-item .col,
.hero-item [class*="col-"] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}


/*-- Hero Image --*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-image {
        max-width: 240px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        max-width: 200px;
        margin: auto;
    }
}

@media only screen and (max-width: 479px) {
    .hero-image {
        max-width: 160px;
    }
}

.hero-image img {
    max-width: 100%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}


/*-- Hero Content --*/

@media only screen and (max-width: 767px) {
    .hero-content {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-top: 30px;
    }
}

.hero-content>* {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

.hero-content h2 {
    font-size: 32px;
    line-height: 1;
    margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-content h2 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 479px) {
    .hero-content h2 {
        font-size: 18px;
    }
}

.hero-content h1 {
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    margin: 0;
}

.hero-content h1 span {
    font-weight: 900;
}

.hero-content h1 span.big {
    font-size: 85px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-content h1 span.big {
        font-size: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content h1 span.big {
        font-size: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-content h1 span.big {
        font-size: 55px;
    }
}

@media only screen and (max-width: 479px) {
    .hero-content h1 span.big {
        font-size: 36px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-content h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content h1 {
        font-size: 50px;
        line-height: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-content h1 {
        font-size: 44px;
        line-height: 54px;
    }
}

@media only screen and (max-width: 479px) {
    .hero-content h1 {
        font-size: 30px;
        line-height: 40px;
    }
}

.hero-content a {
    border: 1px solid #626262;
    border-radius: 50px;
    line-height: 24px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #202020;
    margin-top: 22px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;
}

.hero-content a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 100%;
    background-color: #202020;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    opacity: 0;
    z-index: -1;
}

.hero-content a:hover {
    color: #f5d730;
}

.hero-content a:hover::before {
    height: 300%;
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .hero-content a {
        font-size: 12px;
        padding: 7px 25px;
    }
}

@media only screen and (max-width: 479px) {
    .hero-content a {
        font-size: 11px;
        padding: 5px 20px;
        margin-top: 15px;
    }
}


/*-- Slide Content In Animation --*/

.slick-active {
    /*-- Hero Image --*/
    /*-- Hero Content --*/
}

.slick-active .hero-image img {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.slick-active .hero-content>* {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.slick-active .hero-content>*:nth-child(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.slick-active .hero-content>*:nth-child(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.slick-active .hero-content>*:nth-child(3) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.slick-active .hero-content>*:nth-child(4) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.slick-active .hero-content>*:nth-child(5) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.slick-active .hero-content>*:nth-child(6) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}